<a href="https://colab.research.google.com/github/RybakovAlex/Project-Python/blob/main/%D0%91%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82_%22GB_Homework_2_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Урок 2. Работа с библиотекой Pandas, часть 1. Загрузка данных и анализ их структуры**

1. Загрузить, просмотреть, определить количество строк и склеить 3 датасета: marketing_campaign.csv, users.csv и subscribers.csv.

In [25]:
df_1 = pd.read_csv('/content/marketing_campaign.csv')
len(df_1) # кол-во строк в датафрейме

10037

In [29]:
df_1.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True

In [26]:
df_2 = pd.read_csv('/content/subscribers.csv')
len(df_2)

10037

In [30]:
df_2.head()

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True
3   a1003           House Ads          1/1/18           NaN        True
4   a1004           House Ads          1/1/18           NaN        True

In [39]:
df_3 = pd.read_csv('/content/users.csv')
len(df_3)

10037

In [40]:
df_3.head()

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English

In [36]:
# 1-е объединение датафреймов (1 и 2)
df_1_2 = pd.merge(df_1, df_2, on = 'user_id', how = 'left')
df_1_2.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
1,a1001,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
2,a1002,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
3,a1003,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True
4,a1004,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True

In [37]:
# 2-е объединение датафреймов (1,2 и 3)
df_1_2_3 = pd.merge(df_1_2, df_3, on = 'user_id', how = 'left')
df_1_2_3.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,0-18 years,English
1,a1001,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,19-24 years,English
2,a1002,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,24-30 years,English
3,a1003,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,30-36 years,English
4,a1004,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,36-45 years,English

2. Определить количество, типы и описательные статистики колонок (столбцов) получившегося датасета.

In [38]:
df_1_2_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   subscribing_channel  1856 non-null   object
 7   date_subscribed      1856 non-null   object
 8   date_canceled        577 non-null    object
 9   is_retained          1856 non-null   object
 10  age_group            10037 non-null  object
 11  language_preferred   10037 non-null  object
dtypes: object(12)
memory usage: 1019.4+ KB

3. Определить эффективность маркетинговых каналов по привлечению платящих игроков.

4. Определить самую раннюю дату подписки на сервис.

5. Определить портрет аудитории удержанных подписчиков (по возрасту и языку).